.card-header .title{
  font-size: 22px;
}

.form-control, .form-select {
  height: 45px;
  border-radius: 6px !important;
}

input[type=file] {
  width: 100%;
  max-width: 100%;
  display: block;
  color: #5e5b5b;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #f1F1F1;
  border-radius: 4px;
}

input[type=file]:focus {
  outline: 2px dashed #f1F1F1;
  outline-offset: 2px;
}

input[type=file]::file-selector-button {
  margin-right: 8px;
  border: none;
  background: #0378f5;
  padding: 8px 12px;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

input[type=file]::file-selector-button:hover {
  background: #0277f5;
}

.content-img{
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 2%;
  justify-content: space-between;
  align-items: center;
}

.img-cat{
  width: 20%;
  position: relative;
  margin-left: 1%;
}


