<form [formGroup]="applyForm" (submit)="RegisterProcess()">
  <div class="d-flex align-items-center justify-content-center pt-3">
    <div class="surface-card p-5 border-round lg:w-6" style="width: 40% !important;">
      <div class="text-center mb-5">
        <img src="/favicon.ico" alt="Image" height="80" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Bienvenue chez vous</div>
        <p class="no-account">Déjà inscrit ? <a href="/login">Connecte toi</a></p>
      </div>

      <div class="row">
        <label for="email" class="block text-900 font-medium mb-2">Adresse mail</label>
        <input id="email" type="email" placeholder="Adresse mail" pInputText class="w-full mb-3"
          formControlName="email">

        <label for="password1" class="block text-900 font-medium mb-2">Mot de passe</label>
        <input id="password1" type="password" placeholder="Password" pInputText class="w-full mb-3"
          formControlName="password">

        <button type="submit" class="btn btn-primary py-3 mt-3 w-full" [disabled]="isSubmitted">
          <i class="ti ti-user-scan me-5" [hidden]="isSubmitted"></i>
          <i class="fa fa-spinner fa-spin me-5" [hidden]="!isSubmitted"></i>
          S'enregistrer</button>
      </div>
    </div>
  </div>
</form>

<p-toast key="toast2" />
