<h1 class="header-dashboard">Dashboard</h1>


<div class="row item-resume">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="card-title item-color-1">Revenues</div>
          <div class="col-10">
            <div class="card-amount">$ 12.54</div>
            <a class="card-link">Toutes les transactions <i class="ti ti-arrow-right"></i></a>
          </div>
          <div class="col-2">
            <div class="ti ti-wallet icon-item item-color-1 bg-item-color-1"></div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="card-title item-color-2">Commandes</div>
          <div class="col-10">
            <div class="card-amount">450</div>
            <a class="card-link">Toutes les Commandes <i class="ti ti-arrow-right"></i></a>
          </div>
          <div class="col-2">
            <div class="ti ti-shopping-bag icon-item item-color-2 bg-item-color-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="card-title item-color-3">Total Achat</div>
          <div class="col-10">
            <div class="card-amount">40</div>
            <a class="card-link">Toutes les ventes <i class="ti ti-arrow-right"></i></a>
          </div>
          <div class="col-2">
            <div class="ti ti-shopping-cart icon-item item-color-3 bg-item-color-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div><div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="card-title item-color-4">Clientele</div>
          <div class="col-10">
            <div class="card-amount">100</div>
            <a class="card-link">Toutes les transactions <i class="ti ti-arrow-right"></i></a>
          </div>
          <div class="col-2">
            <div class="ti ti-users-group icon-item item-color-4 bg-item-color-4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row item-graph">
  <div class="col-12">
    <div class="card">
      <div class="card-header py-3 bg-white">
        <div class="row">
          <div class="col"><span><i class="ti ti-chart-area"></i> Revenue Stat</span></div>
          <div class="col text-end">
            <div class="btn btn-light me-2">Mensuelles</div>
            <div class="btn btn-primary">Annuelles</div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <app-chart></app-chart>
      </div>
    </div>
  </div>
</div>

